<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>footer</title>
  </head>

  <div class="fixed-footer">
          <div class="container">Copyright &copy; 2022 Byunghoon Yoo</div>
      </div>
